language: java
jdk:
  - openjdk11

env:
  - CODECOV_TOKEN="6f3f7d4d-3eab-4605-b631-294c4fb7a58f"
  # - COVERALLS_REPO_TOKEN="4CaLAImlPNsl2mLKmrZZNkb59GR2hROro"

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.gradle/nodejs/
    - node_modules


sudo: required

before_install:
  - chmod +x gradlew

install:
  - ./gradlew clean


script:
  - ./gradlew check build -x signArchives -x uploadArchives


before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock


after_success:
  - ./gradlew jacocoTestReport
  - bash <(curl -s https://codecov.io/bash)
  # - ./gradlew coveralls

after_failure:
  - ./gradlew clean -x check --stacktrace --debug

